.board {
  background: white;
  padding: 20px;

  &__body {
    background: #653310;
    width: max-content;
    padding: 5px;
    border-radius: 5px;
    margin-top: 10px;
  }

  &__row {
    display: flex;
  }
}
